-# ナビバー
%ul.nav-item-link
  .nav-item-link__previous
    = link_to do
      = icon('fas', 'chevron-left')
      前の商品名
  .nav-item-link__next
    = link_to do
      次の商品名
      = icon('fas', 'chevron-right')
