-# ユーザーのその他出品一覧
.other-items-in-user
  %section
    %h2.itembox-head
      = link_to "#",class:"items-in-box" do
        まりこさんのその他の出品
      = render "detail/itembox"
  %section
    %h2.itembox-head
      = link_to "#",class:"items-in-box" do
        コーチのショルダーバッグ  その他の商品
      = render "detail/itembox"