.flash {
  text-align: center;
  color: #fff;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
}

.flash-delete{
  background: #c0eec4;
  color: #76af7b
}

.flash-delete{
  background: #c0e1ee;
  color: #a7ccc1
}