.bread-crumbs {
  border-style: solid;
  border-width: 0;

  position: relative;
  border-top: 1px solid #eee;
  background: white;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  ul{
    padding: 16px;
    font-size: 0;
    white-space: nowrap;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  li {
    display: inline-block;
    font-size: 14px;
    line-height: 1.2;
  }
  .breadcrumbs-list {
    width: 1020px;
    overflow: visible;
    margin: 0 auto;
    padding: 16px 0;
    white-space: normal;
  }
  
  span {
    display: inline-block;
    font-size: 14px;
    line-height: 1.2;
    color: #333;
    font-weight: 600;
  }
  
}


