.all-wrapper{
  @include  background;
}

.mypage-container{
  margin: 24px auto 0;
  padding-bottom: 40px;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.selling-item-box {
  bottom: 32px;
  font-size: 22px;
  height: 160px;
  right: 32px;
  width: 160px;
  position: fixed;
  text-align: center;
  z-index: 2;
  background-color: rgb(234, 53, 45);
  border-radius: 50%;
  
  &__contents {
    padding-top: 32px;


    &__letter {
      font-size: 22px;
      color: rgb(255, 255, 255);
    }

    &__camera {
      width: 60px;
      height: 54px;
      margin-top: 8px;
      color: rgb(255, 255, 255);
      margin: 5px auto 0px;
      font-size: 4em;
    }
  } 
}


.mypage-container{
    margin: 40px auto 0;
    width: 1020px;
    height: 1292px;
  }

