

.mypage-container{
  margin: 24px auto 0;
  padding-bottom: 40px;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}



.mypage-container{
    margin: 40px auto 0;
    width: 1020px;
    height: 1292px;
  }

