%section.container
  %h2.head 出品した商品
  %ul.tab-group
    %li.tab.is-active 出品中
    %li.tab 取引中
    %li.tab 売却済
  -# タブを切り替えて表示するコンテンツ
  .panel-group
    .panel.is-show 出品中の商品がありません
    .panel 取引中の商品がありません
    .panel 売却済の商品がありません