.all-wrapper
-if user_signed_in?
  =render "items/header"
-else
  =render "items/header-unlogin"
  - breadcrumb :status
  = render "layouts/breadcrumbs_white"
  %main.mypage-container
    = render partial: "side-bar"
    = render partial: "item-status"
    

  = render 'items/footer'
