= render 'items/header'

.search
  .search-container
    .search-left
      左側のカテゴリー検索欄
      = render 'search-zone'
    .search-right
      %section.items-box-container
        -if @search.present?
          %h2.search-result-head
            検索結果
          .search-result-number
            ="1-#{@ladies.count}件表示"
        -else
        .items-box-content
          = render "categories/ladies"
