.footer__wrapper
  .footer
    .footer__about
      %h2.footer__title
        メルカリについて
      %ul.footer__small-categories
        %li.footer__small-categories__title
          %a.footer__small-categories__link{href: "#"}
            会社概要
        %li.footer__small-categories__title
          %a.footer__small-categories__link{href: "#"}
            採用情報
        %li.footer__small-categories__title
        %a.footer__small-categories__link{href: "#"}
          プレリリース
        %li.footer__small-categories__title
        %a.footer__small-categories__link{href: "#"}
          公式ブログ
        %li.footer__small-categories__title
        %a.footer__small-categories__link{href: "#"}
          メルカリロゴ利用ガイドライン
        .footer__sns-logos
          .footer__sns-logos__twitter
          %a.footer__small-categories__link{href: "#"}
            = icon('fab', 'twitter', style:'color:white',class:'footer__sns-logos__icon')
          .footer__sns-logos__facebook
          %a.footer__small-categories__link{href: "#"}
            = icon('fab', 'facebook-square', style:'color:white', class:'footer__sns-logos__icon')
        
    
    .footer__help-guide
      %h2.footer__title
        ヘルプ＆ガイド
      %ul.footer__small-categories
        %li.footer__small-categories__title
        %a.footer__small-categories__link{href: "#"}
          メルカリガイド
        %li.footer__small-categories__title
        %a.footer__small-categories__link{href: "#"}
          らくらくメルカリ便
        %li.footer__small-categories__title
        %a.footer__small-categories__link{href: "#"}
          ゆうゆうメルカリ便
        %li.footer__small-categories__title
        %a.footer__small-categories__link{href: "#"}
          大型メルカリ便
        %li.footer__small-categories__title
        %a.footer__small-categories__link{href: "#"}
          車体取引ガイド
        %li.footer__small-categories__title
        %a.footer__small-categories__link{href: "#"}
          メルカリあんしん・あんぜん宣言！
        %li.footer__small-categories__title
        %a.footer__small-categories__link{href: "#"}
          偽ブランド品撲滅への取り組み
        %li.footer__small-categories__title
        %a.footer__small-categories__link{href: "#"}
          メルカリボックス
    
    .footer__rules
      %h2.footer__title
        プライバシーと利用規約
      %ul.footer__small-categories
        %li.footer__small-categories__title
        %a.footer__small-categories__link{href: "#"}
          プライバシーポリシー
        %li.footer__small-categories__title
        %a.footer__small-categories__link{href: "#"}
          メルカリ利用規約
        %li.footer__small-categories__title
        %a.footer__small-categories__link{href: "#"}
          あんしんスマホサポート制度関する利用特約
        %li.footer__small-categories__title
        %a.footer__small-categories__link{href: "#"}
          コンプライアンスポリシー
        %ul.footer__small-categories
        %li.footer__small-categories__title
        %a.footer__small-categories__link{href: "#"}
          個人データの安全管理に係る基本方針
        %li.footer__small-categories__title
        %a.footer__small-categories__link{href: "#"}
          特定商取引に関する表記
        %li.footer__small-categories__title
        %a.footer__small-categories__link{href: "#"}
          資金決済法に基づく表示
        %li.footer__small-categories__title
        %a.footer__small-categories__link{href: "#"}
          法令遵守と犯罪抑止のために
    
    .footer__country
      %h2.footer__title
        国
      %ul.footer__small-categories
        %li.footer__small-categories__title
        %a.footer__small-categories__link{href: "#"}
          日本
        %li.footer__small-categories__title
        %a.footer__small-categories__link{href: "#"}
          United States

  .footer__merucari-bar
    .footer__merucari-bar__banner
      = link_to root_path do
        = image_tag 'fmarket_logo_white', alt: 'mercari-logo',
            class: 'footer__mercari-bar__banner__image'
    %span.footer__merucari-bar__name
      © Mercari, Inc.
    