%ul.cp_stepflow01
  %li.completed
    %span.bubble>
    Step 1
  %li.completed
    %span.bubble>
    Step 2
  %li.active
    %span.bubble>
    Step 3
  %li
    %span.bubble>
    Step 4
  %li
    %span.bubble>
    Step 5
