.item-detail-first-container{
  background-color: #f5f5f5;
  overflow: hidden;
section {
  display: block;
}
.item-box-container{
  padding: 24px 40px 40px 40px;
  background: #fff;
  margin: 40px auto 0;
  width: 700px;
} 
  .item-name-box{
    font-size: 24px;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.4;
    font-weight: bold;
  }
  .item-main-box{
    display: flex;
    a:hover{
        text-decoration: underline;
    }
  }
    .box-photo{
      box-sizing: border-box;
      width: 300px;
      height: 420px;
      margin-right: 20px;
      &__photo{
        width: 300px;
        height: 300px;
        img{
        width: 300px;
        height: 300px;
        }
      }
      &__thumbnail{
        box-sizing: border-box;
        width: 300px;
        height: 120px;
        &__top{
          display: flex;
          box-sizing: border-box;
        div{  
          width: 60px;
          height: 60px;
          img{
            filter: blur(1px);
            width: 60px;
            height: 60px;
            }
          }
        }
        &__bottom{
          display: flex;
        div{
          width: 60px;
          height: 60px;
          img{
            filter: blur(1px);
            width: 60px;
            height: 60px;
            }
          }
        }
      }
    }
  table{
    box-sizing: border-box;
    width: 300px;
    height: 420px;
    .box__detail-table{
      margin: 0 auto;
    }
    tbody{
      box-sizing: border-box;
      width: 300px;
      height: 70px;
      display: table-row-group;
      vertical-align: middle;
      border-color: inherit;
      tr{
        border: 1px solid #f5f5f5;
        th{
          display: table-cell;
          vertical-align: inherit;
          border-collapse: collapse;
          border: 1px solid #f5f5f5;
          padding: 8px;
      }
        td{
          padding: 8px;
        }
      }
    }
    .user-ratings{
      display:inline-block;
      .icon-good{
        i{
        color:fuchsia;
        }
      }
      .icon-nomal{
        display: inline-block;
        margin: 8px 0 0 16px;
        i{
        color:orange;
        }
      }
      .icon-bad{
        display: inline-block;
        margin: 8px 0 0 16px;
        i{
        color:blue;
        }
      }
    }
  }
  a{
    color:rgba(0, 153, 255, 0.911);
    text-decoration: none;
    div{
    color:rgba(0, 153, 255, 0.911);
    text-decoration: none;
    i{
      color:rgba(0, 153, 255, 0.911);
      text-decoration: none;
      }
    }
  }
  .item-price-box{
    text-align: center;
    margin-top: 24px;
    span{
      word-wrap: break-word;
      line-height: 1.4;
  }
    .bold{
      font-weight: 600;
      margin-right: 16px;
      font-size: 50px;
    }
    .tax{
      font-size: 10px;
    }
    .fee{
      display: inline-block;
      font-size: 16px;
    }
  }

  .item-buy-button{
    font-size: 24px;
    line-height: 60px;
    display: block;
    margin-top: 16px;
    background: #ea352d;
    color: #fff;
    text-align: center;
    font-weight: 600;
    a{
      text-decoration: none;
    }
  }

  .item-sold-button{
    font-size: 24px;
    line-height: 60px;
    display: block;
    margin-top: 16px;
    background: #adabab;
    color: #fff;
    text-align: center;
    font-weight: 600;
    a{
      text-decoration: none;
    }
  }

  .t_delete{
    margin-top: 10px;
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #aaa;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: .4s;
  }
  .t_overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 1;
  }
  .t_modalWindow{
    width: 600px;
    position: fixed;
    background: #FFF;
    display: none;
    z-index: 2;
    text-align: center;
    span{
      width: 470px;
      height: 24px;
      font-size: 16px;
      font-weight: bold;
    }
    &__content{
      height: 240px;
      padding: 50px 0 10px;
      border-bottom: 1px solid #f5f5f5;
    }
    &__buttons{
      width: 600px;
      display: flex;
      &__btn{
        flex-direction: row;
        width: 50%;
        height: 65px;
        color: #0099e8;
        line-height: 65px;
        text-align: center;
        &--cxl{
          flex-direction: row;
          width: 50%;
          height: 65px;
          border-right: 1px solid #f5f5f5;
          line-height: 65px;
          text-align: center;
          cursor: pointer;
        }
      }
    }
  }
  
  .t_modalWindow__buttons__btn{
    flex-direction: row;
    width: 50%;
    height: 65px;
    border-right: 1px solid #f5f5f5;
    line-height: 65px;
    text-align: center;
    cursor: pointer;
    a{
      text-decoration: none;
    }
  }

  .item-description-box{
    line-height: 1.5;
    &__inner{
      white-space: pre-wrap;
      font-size: 18px;
    }
  }

  .item-button-box{
    display: flex;
    margin: 16px 0 0;
    .item-button-box-left{
      display: flex;
      &__like{
        color: #333;
        border: 1px solid #f5f5f5;
        background: #f5f5f5;
      }
      &__report{
        margin: 0 0 0 16px;
        color: #333;
        border: 1px solid #f5f5f5;
        background: #f5f5f5;
      }
      .item-botton{
        display: inline-block;
        padding: 8px 16px;
        border-radius: 40px;
      }
    }
    .item-button-box-right{
      margin-left: auto;
      a{
        color:rgba(0, 153, 255, 0.911);
        text-decoration: none;
        i{
          color:rgba(0, 153, 255, 0.911);
          text-decoration: none;
          }
          span{
            color:rgba(0, 153, 255, 0.911);
            text-decoration: none;
          }
      }
    }
  } 
// 第二
.item-detail-comment{
  width: 700px;
  margin: 8px auto;
  background: #fff;
  box-sizing: border-box;
.comment-content{
  display: inline-block;
  ul{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
    li{
      margin: 1.5em 0 0;
      figure{
        position: relative;
        display: flex;
        padding: 0;
      }
      a div{
        display: flex;
      }
      img{
        width: 40px;
        height: 40px;
        overflow: hidden;
        border-radius: 50%;
      }
      figcaption{
        position: absolute;
        width: 600px;
        overflow: hidden;
        top: 0;
        height: 1.2em;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .bold {
        font-weight: 600;
        margin-left: 10px;
        position: relative;
        a{
          color: #333;
        }
      }
    }
  }
}
  .comment-body{
    margin-left: 50px;
    width: 600px;
    margin-top: -20px;
    padding: 16px;
    background: #eef0f4;
    border-radius: 15px;
    line-height: 1.5;
    word-break: break-all;
    &__icon{
      display: flex;
      margin: 8px 0 0;
      i{
        color: #aaa;
        font-size: 16px;
      }
      span{
        color: #aaa;
      }
      &__right{
        margin-left: auto;
      }
    }
  }
  i.comment-mark{
    position: absolute;
    margin-top: 15px;
    margin-left: 38px;
    color: #eef0f4;
    font-size: 2.5em;
  }
.comment-seller{
  position: absolute;
  margin-left: 0px;
  margin-top:45px;
  padding: 4px;
  background: #eef0f4;
  color: #000;
  border-radius: 2px;
  font-size: 12px; 
}
.comment-seller:hover{
  text-decoration: underline;
}

.message-form{
  padding: 24px;
  p{
    padding: 8px;
    font-size: 14px;
    background: #fff6de;
  }
  .textarea-default{
    margin: 8px 0 0;
    display: block;
    width: 100%;
    max-width: 100%;
    min-height: 104px;
    padding: 10px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 16px;
    line-height: 1.5;
  }
  .submit-detail{
    display: block;
    background: #aaa;
    border: 1px solid #aaa;
    width: 100%;
    margin: 8px 0 0;
    text-align: center;
    line-height: 48px;
    color: #fff;
    }
  }
}
// 第3ナビバー
.nav-item-link{
  width: 700px;
  margin: 24px auto 0;
  display: flex;
  a:hover{
    text-decoration: underline;
  }
  i{
    color: rgba(0, 153, 255, 0.911);
  }
}
  .nav-item-link__previous{
    padding: 0 0 0 14px;
  }
  .nav-item-link__next{
    margin-left: 520px;
  }



// -#第4 SNSロゴ
.sns-logo-container{
  margin: 24px auto;
  padding: 32px 0 24px;
  width: 700px;
  background: #fff;
    ul.sns-logo-box{
      display:flex;
      text-align: center;
      margin: 16px 0 0;
      margin-left: 35%;
    li{
      display: inline-block;
      margin: 0 8px 8px 0;
      vertical-align: middle;
      display: flex;
      .btn{
        text-align: center;
        width: 44px;
        height: 44px;
        border-radius: 4px;
        line-height: 44px;
        i.fab.fa-facebook{
            color:#385185;
          }
        i.fab.fa-twitter{
            color:#5d9dc9;
          }
        i.fab.fa-line{
            color:green;
          }
        i.fab.fa-pinterest{
          color:#aa262a;
          }
        }
      }
    }
  }

// -# 第５ユーザーのその他出品一覧
.other-items-in-user{
  width: 700px;
  margin: 8px auto;
.itembox-head{
  margin: 24px 0 8px;
  a.items-in-box{
  font-size: 22px;
  width: auto;
  margin: 0 auto;
      }
  a.items-in-box:hover{
    text-decoration: underline;
    }
  }
.itembox-content {
  display: flex;
  flex-wrap: wrap;
  width: 1020px;
  list-style: none;
  padding: 0;
  &__item {
    width: 20%;
    width: 220px;
    margin: 0 20px 20px 0;
    &__link {
      display: inline-block;
      position: relative;
      text-decoration: none;
      vertical-align: top;
    }
    &__figure {
      position: relative;
      align-items: center;
      margin: 0;
      display: table;
      &__caption {
        color: black;
        background-color: white;
        height: 110px;
        font-size: 14px;
        padding: 12px 12px;
        display: table-caption;
        caption-side: bottom;
        line-height: 1.4em;
        width: 220px;
        &__num{
          display: flex;
          justify-content: space-between;
          &__price{
            color: #000;
            font-size: 17px;
            font-weight: 600;
          }
          &__icon{
            color: #000;
            .gray-heart{
              font-size: 17px;
              color: #ccc;
            }
            i.far.fa-heart{
              color: #ccc;
            }
          }
        }
        &__name{
          font-size: 16px;
          overflow: hidden;
          position: relative;
          font-weight: 400;
          height: 3em;
          line-height: 1.5;
        }
      }
    }
  }
}  
.itembox-content__item__thumnail {
  &__image {
    z-index: 1;
    object-fit: cover;
    display: block;
    width: 220px;
    height: 220px;
    top: 50%;
      }
    }
  }
}

