* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a {
  text-decoration: none;
}


.header{
  background-color: white;
  width: 100%;
  height: 100px; 
}

.header-wrapper {
  height: 100px;
  width: 1020px;
  margin: 0px auto;
  padding: 8px 0px 0px;
  
  .toppage__header {
    height: 40px;
    display: flex;
    box-pack: justify;
    justify-content: space-between;
    
      &-contents  {
        display: flex;
        justify-content: space-between;
        width: 100%;
          &--freemarket-logo {
            width: 134px;
            box-align: center;
            margin-right: 45px;
            height: 36px;
          }
    .toppage__header-search {
      width: 100%;
      position: relative;
      &--search-form {
          background-color: white;
          font-size: 16px;
          height: 40px;
          line-height: 1.4em;
          appearance: none;
          border-width: 1px;
          border-style: solid;
          border-color: rgb(204, 204, 204);
          border-image: initial;
          border-radius: 4px;
          outline: none;
          padding: 0px 50px 0px 10px;
          width: 100%;
          
          }
        &--search-btn {
          width: 16px;
          height: 16px;
          color: rgb(34, 34, 34);
          line-height: 1.4em;
          cursor: pointer;
          position: absolute;
          right: 5px;
          top: 5px;
        }
       }
    }
  }

  .toppage__footer {
    display: flex;
    box-pack: justify;
    margin-top: 8px;
    justify-content: space-between;
    height: 44px;
    font-size: 14px;
      
      

    &-nav  {
      display: flex;
      height: 44px;
      width: 309px;
      line-height: 44px;
      padding-right: 20px;
      a {
        color: rgb(51, 51, 51);
        display: block;
        font-size: 14px;
        font-weight: 600;
        line-height: 36px;
        white-space: nowrap;
        }

      .nav-icon {
        max-width: 100%;
        max-height: 100%;
        color: rgb(234, 53, 45);
        height: 12px;
        margin-right: 4px;

      }
      
      
      &-category  {
        width: 160px;
        justify-content: space-between;
        padding-left: 0px;
        font-weight: 600;
        display: inline-block;
        
      }

      
      &-brand {
        width: 149px;
        display: inline-block;
        justify-content: space-between;
        font-weight: 600;
        padding-right: 0px;
        padding: 0px 30px;
        
      }
    }
    &-contents  {
      display: flex;
      position: relative;
      &--new-register-btn {
        background-color: red;
        display: inline-block;
        border-width: 1px;
        border-style: solid;
        border-color: red;
        border-image: initial;
        border-radius: 4px;
        padding: 8px 10px;
        width: 106px;
        height: 32px;
        position: relative; 
        
        

        a {
          
          color: white;
          font-size: 14px;

          position: absolute;          /* 位置指定 */
          top: 50%;                    /* 親要素の半分下にずらす */
          left: 50%;                   /* 親要素の半分右にずらす */
          transform: translateY(-50%) translateX(-50%);   /* 要素自体の半分、上と左にずらす */
          white-space: nowrap;
          
        }
        
      }
      &--user-login-btn {
        background-color: white;
        display: inline-block;
        border-width: 1px;
        border-style: solid;
        border-color: skyblue;
        border-image: initial;
        border-radius: 4px;
        padding: 8px 10px;
        margin-left: 8px;
        width: 77px;
        height: 32px;
        position: relative;
        

        a {
          color: skyblue;
          font-size: 14px;

          position: absolute;          /* 位置指定 */
          top: 50%;                    /* 親要素の半分下にずらす */
          left: 50%;                   /* 親要素の半分右にずらす */
          transform: translateY(-50%) translateX(-50%);     /* 要素自体の半分、上と左にずらす */
          white-space: nowrap;
            
        }
      }
    }

.toppage__footer-login-contents  {
  display: flex;
  height: 44px;
  width: 546px;
  line-height: 32px;
  position: relative;

  li  {
    padding: 0 14px;
    display: inline-block;
  }
   a {
    color: black;
    box-align: center;
    align-items: center;
    display: flex;
    font-size: 14px;
    height: 32px;
    
  }
  span  {
    margin-left: 10px;
    color: black;
    box-align: center;
    align-items: center;
    display: flex;
    font-size: 14px;
    height: 32px;
  }
  
}

.toppage__footer-login-content {
  display: block;
  
  
  
  &--heart-icon {
    
    color: rgb(204, 204, 204);
    margin-right: 0px;
    width: 19px;
    font-size: 20px;
  }
  &--bell-icon {
    font-size: 20px;
    color: rgb(204, 204, 204);
    margin-right: 0px;
    width: 17px;
  }
  &--check-icon {
    font-size: 20px;
    color: rgb(204, 204, 204);
    margin-right: 0px;
  }
  &--mypage-header-user-icon   {
    
    width: 32px;
    height:32px;
    border-radius: 50%;
   
  }
  
  &--notice-count {
    position: absolute;
    top: -2px;
    left: 168px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: red;
    text-align: center;
    line-height: 20px;
    font-size: 11px;
    color: white;
      
  }
  
  &--mypage {
    
    box-align: center;
    align-items: center;
    display: flex;
    font-size: 14px;
    height: 32px;

      }
    }  
  }
}

.main {
  box-sizing: border-box;
  font-family: arial;
  margin: 0;
  padding: 0;
  background-color: rgb(245, 245, 245);
}


.topview {
  padding: 20px 40px;
  margin: 0 auto;
  background-image: image-url("top_slide1.jpg");
  background-size: cover;
}


.top-view {
  width: 780px;
  height: 390px;
  margin: 0 auto;
    &__title {
      display: block;
      font-size: 60px;
      color: #333333;
      width: 780px;
      height: 168px;
      margin-bottom: 16px;
      line-height: 1.4;
    }

    &__description {
      font-size: 18px;
      color: #333333;
      margin-bottom: 24px;
      line-height: 28px;
    }

    &__buttons {

      &__apple {
        display: inline-block;
      }

      &__google {
        display: inline-block;
      }
    }
}

.liked-items {
  width: 1020px;
  margin: 32px auto;
  background-color: white;
  padding: 24px 10px 20px 10px;


  &__header {
    width: 956px;
    height: 28px;
    padding: 0 0px 12px 0px;
    background-color: white;

    &__title {
      font-size: 20px;
      line-height: 20px;
      color: #333333;
      width: 160px;
      float: left;
      margin: 0;
      background-color: white;
    }

    &__links {
      float: right;
      background-color: white;
      display: flex;

      &--left {
        color: #0095EE;
        font-size: 14px;
        text-decoration: none;
        vertical-align: middle;
        text-align: right;
        word-break: normal;
      }

      &--right {
        &__icon {
          text-decoration: none;
          color: #0095EE;
          font-size: 14px;
          padding: 5px 16px 5px 5px;
          margin-left: 4px;
        
        }
      }
    }
  }



  .slick-slider {
    margin: 0px auto;
    width: 93%;

  }




  &__sliders {
    width: 1020px;
    height: 170px;
    display: flex;
    padding: 0 auto;
    align-items: center;

  }

  &__slider__item {
    width: 146px;
    height: 146px;
    margin: 12px 6px;

      &__link {
        width: 100%;
        height: 146px;
        display: inline-block;
        position: relative;
        text-decoration: none;
      }
      
      &__figure {
        width: 100%;
        height: 146px;
        position: relative;
      }
      
      &__thumbnail {
        width: 100%;
        &__price {
          box-align: center;
          align-items: center;
          background: rgba(0, 0, 0, 0.4);
          color: #fff;
          font-size: 14px;
          border-radius: 0 14px 14px 0;
          bottom: 8px;
          display: inline-flex;
          height: 28px;
          letter-spacing: 0.2em;
          padding: 0 12px;
          position: absolute;
          z-index: 2;
        }
      
        &__image {
          z-index: 1;
          object-fit: cover;
          width: 100%;
          height: 146px;
        }
      }
    }
  }




.popular-categories {
  background-color: white;
  padding: 65px 0 30px 0;
  position: relative;
  top: 0;
  clear: both;

  &__title {
    font-size: 28px;
    text-align: center;
    background-color: white;
  }

  &__list {
    list-style: none;
    text-align: center;
    background-color: white;
  
    &__category {
      display: inline-block;

      &__link {
        background-color: #efefef;
        font-size: 14px;
        padding: 8px 16px;
        text-decoration: none;
        border-bottom: none;
        display: inline-block;
        color: black;
        list-style: none;
        border-radius: 15px;
      }
    }
  }
}


.category-boxes {
  width: 1020px;
  margin: 0 auto;

  &__box {
    padding: 42px 0px 100px;

    &__heading {
      margin-bottom: 6px;
      height: 33px;


      &__title {
        font-size: 24px;
        margin: 0;
        height: 100%;
        float: left;
      }

      &__links {
        float: right;

        &--left {
          text-decoration: none;
          color: #0095EE;
          font-size: 14px;
          padding: 5px 16px 5px 5px;
          display: inline-block;
        }

        &--right {
          text-decoration: none;
          color: #0095EE;
          font-size: 14px;
          padding: 5px 16px 5px 5px;
          display: inline-block;

          &__icon {
            text-decoration: none;
            color: #0095EE;
            font-size: 14px;
            padding: 5px 16px 5px 5px;
            display: inline-block;
          }
        }
      }
    }
  }
}




.category-items {
  display: flex;
  flex-wrap: wrap;
  width: 1020px;
  list-style: none;
  padding: 0;

  &__item {
    width: 20%;

    &__link {
      display: inline-block;
      position: relative;
      text-decoration: none;
      vertical-align: top;
    }

    &__figure {
      position: relative;
      align-items: center;
      margin: 0;
      display: table;

      &__caption {
        color: black;
        background-color: white;
        height: 64px;
        font-size: 14px;
        padding: 12px 12px;
        display: table-caption;
        caption-side: bottom;
        line-height: 1.4em;
      }
    }
    
    &__thumbnail {

      &__price {
        align-items: center;
        background: rgba(0, 0, 0, 0.4);
        color: #fff;
        font-size: 14px;
        border-radius: 0 14px 14px 0;
        top: 178px;
        display: inline-flex;
        height: 28px;
        letter-spacing: 0.2em;
        padding: 0 12px;
        z-index: 2;
        position: relative;
      }

      &__image {
        z-index: 1;
        object-fit: cover;
        display: block;
        width: 188px;
        height: 188px;
      }
    }
  }
}



.popular-brand {
  background-color: white;
  padding: 65px 0 30px 0;
  position: relative;
  top: 0;

  &__title {
    font-size: 28px;
    text-align: center;
  }

  &__list {
    list-style: none;
    text-align: center;

    &__brand {
      display: inline-block;
      
      &__link {
        background-color: #efefef;
        font-size: 14px;
        padding: 8px 16px;
        text-decoration: none;
        border-bottom: none;
        display: inline-block;
        color: black;
        list-style: none;
        border-radius: 15px;
      }
    }
  }
} 


.brand-boxes {
  width: 1020px;
  margin: 0 auto;

  &__box {
    padding: 42px 0px 100px;

    &__heading {
      margin-bottom: 6px;
      height: 33px;

      &__title {
        font-size: 26px;
        margin: 0;
        height: 100%;
        float: left;
      }
    
      &__links {
        float: right;
      
        &--left {
          text-decoration: none;
          color: #0095EE;
          font-size: 14px;
          padding: 5px 16px 5px 5px;
          display: inline-block;
        }

        &--right {
          text-decoration: none;
          color: #0095EE;
          font-size: 14px;
          padding: 5px 16px 5px 5px;
          display: inline-block;

          &__icon {
            text-decoration: none;
            color: #0095EE;
            font-size: 14px;
            padding: 5px 16px 5px 5px;
            display: inline-block;
          }
        }
      }
    }
  }
}

.brand-items {
  display: flex;
  flex-wrap: wrap;
  width: 1020px;
  list-style: none;
  padding: 0;

  &__item {
    width: 20%;

    &__link {
      display: inline-block;
      position: relative;
      text-decoration: none;
      vertical-align: top;
    }

    &__figure {
      position: relative;
      align-items: center;
      margin: 0;
      display: table;

      &__caption {
        color: black;
        background-color: white;
        height: 64px;
        font-size: 14px;
        padding: 12px 12px;
        display: table-caption;
        caption-side: bottom;
        line-height: 1.4em;
      }
    }
      
    &__thumbnail {

      &__price {
        align-items: center;
        background: rgba(0, 0, 0, 0.4);
        color: #fff;
        font-size: 14px;
        border-radius: 0 14px 14px 0;
        top: 178px;
        display: inline-flex;
        height: 28px;
        letter-spacing: 0.2em;
        padding: 0 12px;
        z-index: 2;
        position: relative;
      }

      &__image {
        z-index: 1;
        object-fit: cover;
        display: block;
        width: 188px;
        height: 188px;
      }
    }
  }
}

.selling-item-box {
  bottom: 32px;
  font-size: 22px;
  height: 160px;
  right: 32px;
  width: 160px;
  position: fixed;
  text-align: center;
  z-index: 2;
  background-color: rgb(234, 53, 45);
  border-radius: 50%;
  
  &__contents {
    padding-top: 32px;


    &__letter {
      font-size: 22px;
      color: rgb(255, 255, 255);
    }

    &__camera {
      width: 60px;
      height: 54px;
      margin-top: 8px;
      color: rgb(255, 255, 255);
      margin: 5px auto 0px;
      font-size: 4em;
    }
  } 
}

.footer__wrapper{
  background-color: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
  font-size: 12px;
  padding: 0px 20px 10px;
}
  
.footer{
  position: relative;
  display: flex;
  color: rgb(255, 255, 255);
  width: 1020px;
  margin: 0 auto;

  &__about{
    padding: 0 10px 0 0;
    display: block;
    float: left;
    margin-top: 18px;
    width: 50%;
  }
  
  &__title{
      color: #fff;
      font-size: 16px;
      font-weight: 700;
      color:white;
    }
  
  &__small-categories {
    &__title {
      margin: 14px 0 0;
      list-style: none;
      color:rgb(255, 255, 255);
    }

    &__link {
      color: rgba(255, 255, 255, 0.6);
    }
  }

   
  &__sns-logos{
      display: flex;
      margin-top: 30px;
      height: 50px;
 
  
    &__icon{
        margin-right: 20px;
        width: 30px;
        font-size: 2em;
        
    }
  }


  &__help-guide{
      padding: 0 10px 0 0;
      display: block;
      float: left;
      margin-top: 18px;
      width: 50%;
  }
  
  &__rules{
      padding: 0 10px 0 0;
      display: block;
      float: left;
      margin-top: 18px;
      width: 50%;
    }

  &__country{
    padding: 0 10px 0 0;
    display: block;
    float: left;
    margin-top: 18px;
    width: 50%;
  }


  &__merucari-bar{
      -webkit-box-align: center;
      align-items: center;
      display: flex;
      width: 1020px;
      margin: 30px auto 20px;
   
    &__banner{
        margin-right: 10px;
        width: auto;
        height: 31px;
        width: 124px;
      
        &__image {
          height: 31px;
          width: 124px;
        }
    }
    &__name{
      text-align: center;
      padding-left: 15px;
      color: white;
      padding-left: 15px;
      width: 75%;
    }
  }
}


// 商品出品ページ
.sell-wrapper {
  background-color: rgb(245, 245, 245);
  font-size: 14px;
  // line-height: 1;
  color: rgb(51, 51, 51);
}

.sell-header {
  height: 128px;
  text-align: center;
  &__logo{
  width: 185px;
  height: 49px;
  line-height: 49px;
  margin: 40px 0 0;
  }
}

.sell-main {
  &__container {
      width: 700px;
      margin: 0 auto;
      background-color: white;
  }

  &__top__title {
      padding: 32px 16px;
      font-size: 22px; 
      text-align: center;
      font-weight: bold;
  }
  &__image{
    border-top: 1px solid #eee;
    width: 100%;
    padding: 40px;
  }

  &__image-upload {
      display:flex;

      &__head {
          font-size: 16px;
          font-weight: bold;

          &__explanation {
              margin: 8px 0 15px;
              line-height: 1.5;
              font-size: 14px;
              display: flex;
          }
      }
  
      &__dropbox {
          display: block;
          width: 620px;
          margin: 16px auto 0;
          background-color: rgb(245, 245, 245);
          border-style: dotted;

          &__exp {
              position: absolute;
              top: 50%;
              left: 16px;
              right: 16px;
              text-align: center;
              font-size: 14px;
              line-height: 1.5;
          }
      }
  }

  &__box {
      padding: 40px;
      border-top: 1px solid #ccc;
  }
  .sell-another-box{
    padding-left: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
  }
  &__form-box{
    // float: right;
    width: 400px;
    margin: 0;
      }

      &__input  {
      width: 100%;
      margin: 8px 0 0;
      height: 48px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;

          &__textarea {
              display: block;
              width: 100%;
              max-width: 100%;
              min-height: 104px;
              padding: 10px;
              border: 1px solid #ccc;
              background: #fff;
              font-size: 16px;
              line-height: 1.5;
          }
      
      &__select {
          position: relative;
          z-index: 2;
          height: 48px;
          padding: 0 16px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: 0;
          font-size: 16px;
          line-height: 1.5;
          cursor: pointer;

          &__arrow {
              position: absolute;
              right: 16px;
              top: 50%;
              z-index: 2;
              color: #888;
              font-size: 8px;
          }
        }
      }
.sell-main__box__inner{
  display: flex;
  justify-content: space-between
}
.sell-main-title-top{
  display: flex;
}
.sell-main__title{
  color: #888;
  font-size: 14px;
  font-weight: bold;
}

      // ドロップボックス
.drop-box{
  position: relative;

.drop-upload {
  background-color:#f5f5f5;
  border: dashed 1px #ccc;
  color:#333;
  vertical-align: middle;
  padding: 20px;
  cursor: pointer;
  padding: 40px;
  position: relative;
  text-align: center;
}
.preview{
  width:100px;
  height: 100px;
  position: absolute;
  top: 35%;
  left: 16px;
  right: 16px;
  text-align: center;
  line-height: 0.5;
  font-size: 14px;
  display: block;
  font-weight: bold;
  img{
    width:100px;
    height: 100px;
    border: solid 1px #ccc;
    cursor: pointer;
    height: auto;
    margin: 0 10px;
    }
  }
}

.drop-upload input {
  display: none;
}
// ドロップボックス終わり

textarea#item_description.sell-main__form__input__textarea{
  display: block;
  width: 100%;
  max-width: 100%;
  min-height: 104px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
  margin: 8px 0 0;
}

input#item_name.sell-main__form__input{
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
    width: 100%;
    margin: 8px 0 0;
}


.sell-main__button-box--description{
  display:inline;
}

.sell-main__form{
  position:relative;
  &__select{
    top: 50%;
    left: 0;
    z-index: 1;
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
    margin: 8px 0 0;
    cursor: pointer;
    -webkit-appearance: none;/* ベンダープレフィックス(Google Chrome、Safari用) */
    -moz-appearance: none; /* ベンダープレフィックス(Firefox用) */
    appearance: none; /* 標準のスタイルを無効にする */
    padding: 0 10px;
    width: 100%;
    position: relative;
  }
  i.fas.fa-chevron-down.sell-main__form__select__arrow{
    position: absolute;//子のポジション指定
    right: 25px;//右25px空ける
    top: 70%;//上から70%の位置へ
    z-index: 2;//親の下へ潜り揉まないようにする
    color: #888;
    transform: translate(0, -50%);//translate(X方向の移動距離, Y方向の移動距離)
    font-size: 18px;
    }
  }
}

li.sell-main__sales-price{
  display: flex;
  justify-content: space-between
}
.sell-line{
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-weight: normal;
}
.sell-main__price-form-label-box{
  line-height: 48px;
  font-weight: bold;
}
p.sell-main__price-form-label{
  line-height: 48px;
}

.sell-main__small-box{
  width: 380px;
  display: block;
}
.sell-main__price-form__input-box{
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  width: 150px;
  margin:0;
}
input#margin-price{
  border: none;
}
input#profit-price{
  border: none;
}
input.sell-main__form__submit{
  margin: 40px 0 0;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  &__input{
    width: 100%;
    margin: 8px 0 0;
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
  }
}
.sell-main__form__back-button{
  width: 45%;
  margin: 24px auto 0;
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  display:block;
  text-align: center;
  line-height: 48px;
  font-size: 14px;
}

.sell-main__bottom-caution{
  a:hover{
    text-decoration: underline;
  }
  a{
    color: rgba(0, 153, 255, 0.911);
  }
}

.form-require {
  background-color: #ea352d;
  margin-left: 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}
.form-neccesary {
  background-color: #ea352d;
  margin: 4px 0 4px 8px;
  padding: 2px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
}

.form__question {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #0099e8;
  color: #fff;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
  margin-top: 4px;
  }

.sell-footer{
  width: 456px;
  height: 220px;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
}

ul.sell-footer__links{
  margin:0 auto;
  text-align: center;
  display: flex;
  li{
    display: inline-block;
    margin: 0 0 0 16px;
    a{
    font-size: 12px;
    }
  }
}

.sell-footer__merucari-bar__banner{
  margin:0 auto;
  width: 80px;
  height: 65px;
  margin: 40px auto 0;
}
img{
width: 80px;
height: 65px;
}
