.profile-edit {
  width: 700px;

  &__heading {
    font-size: 24px;
    padding: 8px 24px;
    margin: 0;
    text-align: center;
  }

  &__form {
    height: 156px;
    display: block;
  }

  &__background {
    background-image: url(user-bg);
    padding: 72px 16px 24px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    &__figure {
      display: table;
       
      &__image {
        display: inline-block;
        width: 60px;
        height: 60px;
        vertical-align: middle;
        border-radius: 50%;
      }
    }

    &__nickname-form {
      width: 220px;
      margin: 0 0 0 8px;
      vertical-align: middle;
      height: 48px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
      display: inline-block;
    }
  }
  &__main {
    padding: 40px 16px;

    &__introduction {
    display: block;
    width: 100%;
    max-width: 100%;
    min-height: 206px;
    padding: 10px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 16px;
    line-height: 1.5;
    }
  }

  &__submit {
    margin: 16px 0 0;
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
  }
}