
@import "./reset";
@import "font-awesome-sprockets";
@import "font-awesome";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}


.header{
  background-color: white;
  width: 1440px;
  height: 100px; 
}

.header-wrapper {
  height: 100px;
  width: 1020px;
  margin: 0px auto;
  padding: 8px 0px 0px;
  
  .toppage__header {
    height: 40px;
    display: flex;
    box-pack: justify;
    justify-content: space-between;
    
      &-contents  {
        display: flex;
        justify-content: space-between;
        width: 100%;
          &--mercari-logo {
            width: 134px;
            box-align: center;
            margin-right: 45px;
            height: 36px;
          }
    .toppage__header-search {
      width: 100%;
      position: relative;
      &--search-form {
          background-color: white;
          font-size: 16px;
          height: 40px;
          line-height: 1.4em;
          appearance: none;
          border-width: 1px;
          border-style: solid;
          border-color: rgb(204, 204, 204);
          border-image: initial;
          border-radius: 4px;
          outline: none;
          padding: 0px 50px 0px 10px;
          width: 100%;
          
          }
        &--search-btn {
          width: 16px;
          height: 16px;
          color: rgb(34, 34, 34);
          line-height: 1.4em;
          cursor: pointer;
          position: absolute;
          right: 5px;
          top: 5px;
        }
       }
    }
  }

  .toppage__footer {
    display: flex;
    box-pack: justify;
    margin-top: 8px;
    justify-content: space-between;
    height: 44px;
    font-size: 14px;
      
      

    &-nav  {
      display: flex;
      height: 44px;
      width: 309px;
      line-height: 44px;
      padding-right: 20px;
      a {
        color: rgb(51, 51, 51);
        display: block;
        font-size: 14px;
        font-weight: 600;
        line-height: 36px;
        white-space: nowrap;
        }
        
      .nav-icon {
        max-width: 100%;
        max-height: 100%;
        color: rgb(234, 53, 45);
        height: 12px;
        margin-right: 4px;

      }
      
      
      &-category  {
        width: 160px;
        justify-content: space-between;
        padding-left: 0px;
        font-weight: 600;
        display: inline-block;
        
      }

      
      &-brand {
        width: 149px;
        display: inline-block;
        justify-content: space-between;
        font-weight: 600;
        padding-right: 0px;
        padding: 0px 30px;
        
      }
    }
    &-contents  {
      display: flex;
      position: relative;
    }
  }
}

.toppage__footer-login-contents  {
  display: flex;
  height: 44px;
  width: 546px;
  line-height: 32px;
  position: relative;

  li  {
    padding: 0 14px;
    display: inline-block;
  }
   a {
    color: black;
    box-align: center;
    align-items: center;
    display: flex;
    font-size: 14px;
    height: 32px;
    
  }
  span  {
    margin-left: 10px;
    color: black;
    box-align: center;
    align-items: center;
    display: flex;
    font-size: 14px;
    height: 32px;
  }
  
}

.toppage__footer-login-content {
  display: block;
  
  
  
  &--heart-icon {
    
    color: rgb(204, 204, 204);
    margin-right: 0px;
    width: 19px;
    font-size: 20px;
  }
  &--bell-icon {
    font-size: 20px;
    color: rgb(204, 204, 204);
    margin-right: 0px;
    width: 17px;
  }
  &--check-icon {
    font-size: 20px;
    color: rgb(204, 204, 204);
    margin-right: 0px;
  }
  &--mypage-header-user-icon   {
    
    width: 32px;
    height:32px;
    border-radius: 50%;
   
  }
  
  &--notice-count {
    position: absolute;
    top: -2px;
    left: 168px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: red;
    text-align: center;
    line-height: 20px;
    font-size: 11px;
    color: white;
      
  }
  
  &--mypage {
    
    box-align: center;
    align-items: center;
    display: flex;
    font-size: 14px;
    height: 32px;

    
  }
}  
