.topview
  .top-view
    .top-view__title
      スマホでかんたん
      %br/
      フリマアプリ
    %p.top-view__description
      メルカリはスマホカメラからすぐに出品できる
      %br/
      購入時も安心な独自システムのアプリです
    .top-view__buttons
      %a.top-view__buttons__apple{href: "https://apps.apple.com/jp/app/%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA-%E3%83%95%E3%83%AA%E3%83%9E%E3%82%A2%E3%83%97%E3%83%AA-%E3%82%B9%E3%83%9E%E3%83%9B%E6%B1%BA%E6%B8%88%E3%83%A1%E3%83%AB%E3%83%9A%E3%82%A4/id667861049?mt=8", style: "display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2013-07-22&kind=iossoftware&bubble=ios_apps) no-repeat;width:170px;height:50px;margin:16px; background-size:contain;"} ​
      %a.top-view__buttons__google{href: "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"}
        %img{alt: "Google Play で手に入れよう", height: "80px", src: "https://play.google.com/intl/us-en/badges/static/images/badges/ja_badge_web_generic.png", width: "195px"}/