.topview
  .top-view
    .top-view__title
      どんな時も
      %br/
      出会いをたいせつに
    %p.top-view__description
      byカエル店長
    .top-view__buttons
      %a.top-view__buttons__apple{href: "#", style: "display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2013-07-22&kind=iossoftware&bubble=ios_apps) no-repeat;width:170px;height:50px;margin:16px; background-size:contain;"} ​
      %a.top-view__buttons__google{href: "#"}
        %img{alt: "Google Play で手に入れよう", height: "80px", src: "https://play.google.com/intl/us-en/badges/static/images/badges/ja_badge_web_generic.png", width: "195px"}/